<a href="https://colab.research.google.com/github/vikiysr/mlprojects/blob/main/Loan_prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Importing the Dependencies

In [53]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

Creating a dataframe

In [54]:
df=pd.read_csv("/content/Loan_Status_train.csv")

Preview of the dataset

In [55]:
df.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

Dimensions of the dataset

In [56]:
df.shape

(614, 13)

Label Encoding the categorical Features

In [57]:
df.replace({"Gender":{"Male":1,"Female":0},"Married":{"Yes":1,"No":0},"Education":{"Graduate":1,"Not Graduate":0
                            },"Self_Employed":{"Yes":1,"No":0},"Property_Area":{"Urban":0,"Rural":1,"Semiurban":2},
                              "Loan_Status":{"Y":1,"N":0}},inplace=True)

In [58]:
df.replace({"Dependents":{"0":0,"1":1,"2":2,"3+":4}},inplace=True)

Preview of the encoded dataset

In [59]:
df.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,1.0,0.0,0.0,1,0.0,5849,0.0,NaN,360.0,1.0,0,1
1,LP001003,1.0,1.0,1.0,1,0.0,4583,1508.0,128.0,360.0,1.0,1,0
2,LP001005,1.0,1.0,0.0,1,1.0,3000,0.0,66.0,360.0,1.0,0,1
3,LP001006,1.0,1.0,0.0,0,0.0,2583,2358.0,120.0,360.0,1.0,0,1
4,LP001008,1.0,0.0,0.0,1,0.0,6000,0.0,141.0,360.0,1.0,0,1

Checking for Null values

In [60]:
df.isnull().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

More description about the dataset

In [61]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            614 non-null    object
 1   Gender             601 non-null    float64
 2   Married            611 non-null    float64
 3   Dependents         599 non-null    float64
 4   Education          614 non-null    int64
 5   Self_Employed      582 non-null    float64
 6   ApplicantIncome    614 non-null    int64
 7   CoapplicantIncome  614 non-null    float64
 8   LoanAmount         592 non-null    float64
 9   Loan_Amount_Term   600 non-null    float64
 10  Credit_History     564 non-null    float64
 11  Property_Area      614 non-null    int64
 12  Loan_Status        614 non-null    int64
dtypes: float64(8), int64(4), object(1)
memory usage: 62.5+ KB

Imputing the null values of some features with mean

In [62]:
df["LoanAmount"].fillna(df["LoanAmount"].mean(),inplace=True)

In [63]:
df["Loan_Amount_Term"].fillna(df["Loan_Amount_Term"].mean(),inplace=True)

In [64]:
df.isnull().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            0
Loan_Amount_Term      0
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

Imputation of some columns with mode value

In [65]:
df["Self_Employed"].fillna(df["Self_Employed"].mode()[0],inplace=True)

In [66]:
df["Credit_History"].fillna(df["Credit_History"].mode()[0],inplace=True)

In [67]:
df.isnull().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed         0
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            0
Loan_Amount_Term      0
Credit_History        0
Property_Area         0
Loan_Status           0
dtype: int64

In [68]:
df.isnull().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed         0
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            0
Loan_Amount_Term      0
Credit_History        0
Property_Area         0
Loan_Status           0
dtype: int64

since the number of null values in the columns are small, dropping the null values

In [69]:
df.dropna(inplace=True)

In [70]:
df.isnull().sum()

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64

Importing the validation dataset

In [71]:
df2=pd.read_csv("/content/Loan_Status_test.csv")

Label encoding for the validation dataset

In [72]:
df2.replace({"Gender":{"Male":1,"Female":0},"Married":{"Yes":1,"No":0},"Education":{"Graduate":1,"Not Graduate":0
                            },"Self_Employed":{"Yes":1,"No":0},"Property_Area":{"Urban":0,"Rural":1,"Semiurban":2}
                              },inplace=True)

In [73]:
df2.replace({"Dependents":{"0":0,"1":1,"2":2,"3+":4}},inplace=True)

In [74]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 367 entries, 0 to 366
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            367 non-null    object
 1   Gender             356 non-null    float64
 2   Married            367 non-null    int64
 3   Dependents         357 non-null    float64
 4   Education          367 non-null    int64
 5   Self_Employed      344 non-null    float64
 6   ApplicantIncome    367 non-null    int64
 7   CoapplicantIncome  367 non-null    int64
 8   LoanAmount         362 non-null    float64
 9   Loan_Amount_Term   361 non-null    float64
 10  Credit_History     338 non-null    float64
 11  Property_Area      367 non-null    int64
dtypes: float64(6), int64(5), object(1)
memory usage: 34.5+ KB

Imputation of null values of some columns with mean

In [75]:
df2["LoanAmount"].fillna(df2["LoanAmount"].mean(),inplace=True)

In [76]:
df2["Loan_Amount_Term"].fillna(df2["Loan_Amount_Term"].mean(),inplace=True)

Imputation of some columns with mode value

In [77]:
df2["Self_Employed"].fillna(df2["Self_Employed"].mode()[0],inplace=True)

In [78]:
df2["Credit_History"].fillna(df2["Credit_History"].mode()[0],inplace=True)

Preview of the null values after imputation in the validation dataset

In [79]:
df2.isnull().sum()

Loan_ID               0
Gender               11
Married               0
Dependents           10
Education             0
Self_Employed         0
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            0
Loan_Amount_Term      0
Credit_History        0
Property_Area         0
dtype: int64

since the number of null values is small dropping the null values

In [80]:
df2.dropna(inplace=True)

Importing the Classifier

In [81]:
from sklearn.ensemble import RandomForestClassifier
model=RandomForestClassifier(n_estimators=3)

Assigning the independent and dependent features to x_train and y_train variables respectively

In [82]:
X_train=df.drop(columns=["Loan_ID","Loan_Status"],axis=1)

In [83]:
y_train=df["Loan_Status"]

Fitting the machine learning model on the training data

In [84]:
model.fit(X_train,y_train)

RandomForestClassifier(n_estimators=3)

Predicting the target variables

In [85]:
y_trainpreds=model.predict(X_train)

Finding the accuracy score

In [86]:
from sklearn.metrics import accuracy_score

In [87]:
accuracy=accuracy_score(y_trainpreds,y_train)

In [88]:
print("accuracy:",accuracy*100)

accuracy: 95.39249146757679

Predicting the output(whether loan status is approved or not)

In [89]:
X_test=df2.drop(columns=["Loan_ID"],axis=1)

In [90]:
test_preds=model.predict(X_test)

In [91]:
df2["loan_status"]=test_preds

In [92]:
df2.replace({"loan_status":{1:"Yes",0:"No"}},inplace=True)

In [93]:
df2

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,loan_status
0,LP001015,1.0,1,0.0,1,0.0,5720,0,110.0,360.0,1.0,0,Yes
1,LP001022,1.0,1,1.0,1,0.0,3076,1500,126.0,360.0,1.0,0,Yes
2,LP001031,1.0,1,2.0,1,0.0,5000,1800,208.0,360.0,1.0,0,Yes
3,LP001035,1.0,1,2.0,1,0.0,2340,2546,100.0,360.0,1.0,0,Yes
4,LP001051,1.0,0,0.0,0,0.0,3276,0,78.0,360.0,1.0,0,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...
362,LP002971,1.0,1,4.0,0,1.0,4009,1777,113.0,360.0,1.0,0,Yes
363,LP002975,1.0,1,0.0,1,0.0,4158,709,115.0,360.0,1.0,0,Yes
364,LP002980,1.0,0,0.0,1,0.0,3250,1993,126.0,360.0,1.0,2,Yes
365,LP002986,1.0,1,0.0,1,0.0,5000,2393,158.0,360.0,1.0,1,Yes
366,LP002989,1.0,0,0.0,1,1.0,9200,0,98.0,180.0,1.0,1,Yes