<a href="https://colab.research.google.com/github/vikiysr/mlprojects/blob/main/Loan%20prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [176]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [140]:
df=pd.read_csv("/content/Loan_Status_train.csv")

In [141]:
df.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [142]:
df.replace({"Gender":{"Male":1,"Female":0},"Married":{"Yes":1,"No":0},"Education":{"Graduate":1,"Not Graduate":0
                            },"Self_Employed":{"Yes":1,"No":0},"Property_Area":{"Urban":0,"Rural":1,"Semiurban":2},
                              "Loan_Status":{"Y":1,"N":0}},inplace=True)

In [143]:
df.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,1.0,0.0,0,1,0.0,5849,0.0,NaN,360.0,1.0,0,1
1,LP001003,1.0,1.0,1,1,0.0,4583,1508.0,128.0,360.0,1.0,1,0
2,LP001005,1.0,1.0,0,1,1.0,3000,0.0,66.0,360.0,1.0,0,1
3,LP001006,1.0,1.0,0,0,0.0,2583,2358.0,120.0,360.0,1.0,0,1
4,LP001008,1.0,0.0,0,1,0.0,6000,0.0,141.0,360.0,1.0,0,1

In [144]:
df.isnull().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [145]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            614 non-null    object
 1   Gender             601 non-null    float64
 2   Married            611 non-null    float64
 3   Dependents         599 non-null    object
 4   Education          614 non-null    int64
 5   Self_Employed      582 non-null    float64
 6   ApplicantIncome    614 non-null    int64
 7   CoapplicantIncome  614 non-null    float64
 8   LoanAmount         592 non-null    float64
 9   Loan_Amount_Term   600 non-null    float64
 10  Credit_History     564 non-null    float64
 11  Property_Area      614 non-null    int64
 12  Loan_Status        614 non-null    int64
dtypes: float64(7), int64(4), object(2)
memory usage: 62.5+ KB

In [146]:
df.replace({"Dependents":{"0":0,"1":1,"2":2,"3+":4}},inplace=True)

In [147]:
df["LoanAmount"].fillna(df["LoanAmount"].mean(),inplace=True)

In [148]:
df["Loan_Amount_Term"].fillna(df["Loan_Amount_Term"].mean(),inplace=True)

In [149]:
df["Credit_History"].value_counts()

1.0    475
0.0     89
Name: Credit_History, dtype: int64

In [150]:
df["Self_Employed"].fillna(df["Self_Employed"].mode()[0],inplace=True)

In [151]:
df["Credit_History"].fillna(df["Credit_History"].mode()[0],inplace=True)

In [152]:
df.isnull().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed         0
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            0
Loan_Amount_Term      0
Credit_History        0
Property_Area         0
Loan_Status           0
dtype: int64

In [153]:
df.dropna(inplace=True)

In [154]:
df.isnull().sum()

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64

In [155]:
df.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,1.0,0.0,0.0,1,0.0,5849,0.0,146.412162,360.0,1.0,0,1
1,LP001003,1.0,1.0,1.0,1,0.0,4583,1508.0,128.000000,360.0,1.0,1,0
2,LP001005,1.0,1.0,0.0,1,1.0,3000,0.0,66.000000,360.0,1.0,0,1
3,LP001006,1.0,1.0,0.0,0,0.0,2583,2358.0,120.000000,360.0,1.0,0,1
4,LP001008,1.0,0.0,0.0,1,0.0,6000,0.0,141.000000,360.0,1.0,0,1

In [156]:
X=df.drop(columns=["Loan_ID","Loan_Status"],axis=1)
y=df.Loan_Status

In [157]:
X.std()

Gender                  0.389445
Married                 0.477858
Dependents              1.207950
Education               0.414693
Self_Employed           0.336252
ApplicantIncome      5852.248540
CoapplicantIncome    2975.456308
LoanAmount             81.866658
Loan_Amount_Term       64.457671
Credit_History          0.345431
Property_Area           0.838767
dtype: float64

In [177]:
scaler=StandardScaler()
scaler.fit(X)
standardized_df=scaler.transform(X)

In [178]:
standardized_df.std()

0.9999999999999999

In [179]:
X=standardized_df

In [180]:
y=df.Loan_Status

In [208]:
X.shape

(586, 11)

In [234]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=12)

In [246]:
from sklearn.ensemble import RandomForestClassifier
model=RandomForestClassifier(n_estimators=3)

In [247]:
model.fit(X_train,y_train)

RandomForestClassifier(n_estimators=3)

In [248]:
y_trainpreds=model.predict(X_train)

In [249]:
from sklearn.metrics import accuracy_score
accuracy=accuracy_score(y_train,y_trainpreds)

In [250]:
print(accuracy)

0.9487179487179487

In [251]:
model.fit(X_test,y_test)

RandomForestClassifier(n_estimators=3)

In [252]:
y_testpreds=model.predict(X_test)

In [253]:
accuracy_test=accuracy_score(y_testpreds,y_test)

In [254]:
print(accuracy_test)

0.9661016949152542

In [187]:
df2=pd.read_csv("/content/Loan_Status_test.csv")

In [188]:
df2.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,LP001015,Male,Yes,0,Graduate,No,5720,0,110.0,360.0,1.0,Urban
1,LP001022,Male,Yes,1,Graduate,No,3076,1500,126.0,360.0,1.0,Urban
2,LP001031,Male,Yes,2,Graduate,No,5000,1800,208.0,360.0,1.0,Urban
3,LP001035,Male,Yes,2,Graduate,No,2340,2546,100.0,360.0,NaN,Urban
4,LP001051,Male,No,0,Not Graduate,No,3276,0,78.0,360.0,1.0,Urban

In [189]:
df2.shape

(367, 12)

In [190]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 367 entries, 0 to 366
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            367 non-null    object
 1   Gender             356 non-null    object
 2   Married            367 non-null    object
 3   Dependents         357 non-null    object
 4   Education          367 non-null    object
 5   Self_Employed      344 non-null    object
 6   ApplicantIncome    367 non-null    int64
 7   CoapplicantIncome  367 non-null    int64
 8   LoanAmount         362 non-null    float64
 9   Loan_Amount_Term   361 non-null    float64
 10  Credit_History     338 non-null    float64
 11  Property_Area      367 non-null    object
dtypes: float64(3), int64(2), object(7)
memory usage: 34.5+ KB

In [191]:
df2.describe()

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History
count,367.000000,367.000000,362.000000,361.000000,338.000000
mean,4805.599455,1569.577657,136.132597,342.537396,0.825444
std,4910.685399,2334.232099,61.366652,65.156643,0.380150
min,0.000000,0.000000,28.000000,6.000000,0.000000
25%,2864.000000,0.000000,100.250000,360.000000,1.000000
50%,3786.000000,1025.000000,125.000000,360.000000,1.000000
75%,5060.000000,2430.500000,158.000000,360.000000,1.000000
max,72529.000000,24000.000000,550.000000,480.000000,1.000000

In [192]:
df2.replace({"Gender":{"Male":1,"Female":0},"Married":{"Yes":1,"No":0},"Education":{"Graduate":1,"Not Graduate":0
                            },"Self_Employed":{"Yes":1,"No":0},"Property_Area":{"Urban":0,"Rural":1,"Semiurban":2}
                              },inplace=True)

In [193]:
df2.replace({"Dependents":{"0":0,"1":1,"2":2,"3+":4}},inplace=True)

In [194]:
df2["LoanAmount"].fillna(df2["LoanAmount"].mean(),inplace=True)

In [195]:
df2["Loan_Amount_Term"].fillna(df2["Loan_Amount_Term"].mean(),inplace=True)

In [196]:
df2["Self_Employed"].fillna(df2["Self_Employed"].mode()[0],inplace=True)

In [197]:
df2["Credit_History"].fillna(df2["Credit_History"].mode()[0],inplace=True)

In [198]:
df2.dropna(inplace=True)

In [203]:
df2.shape

(347, 12)

In [219]:
X2=df2.drop(columns=["Loan_ID"],axis=1)

In [220]:
X2.head()

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,1.0,1,0.0,1,0.0,5720,0,110.0,360.0,1.0,0
1,1.0,1,1.0,1,0.0,3076,1500,126.0,360.0,1.0,0
2,1.0,1,2.0,1,0.0,5000,1800,208.0,360.0,1.0,0
3,1.0,1,2.0,1,0.0,2340,2546,100.0,360.0,1.0,0
4,1.0,0,0.0,0,0.0,3276,0,78.0,360.0,1.0,0

In [221]:
X2.shape

(347, 11)

In [222]:
y_validation=model.predict(X2)

/usr/local/lib/python3.9/dist-packages/sklearn/base.py:432: UserWarning: X has feature names, but LogisticRegression was fitted without feature names
  warnings.warn(

In [227]:
df2["predicted_output"]=y_validation
df2.predicted_output.replace({0:"No",1:"Yes"},inplace=True)

In [228]:
df2.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,predicted_output
0,LP001015,1.0,1,0.0,1,0.0,5720,0,110.0,360.0,1.0,0,Yes
1,LP001022,1.0,1,1.0,1,0.0,3076,1500,126.0,360.0,1.0,0,Yes
2,LP001031,1.0,1,2.0,1,0.0,5000,1800,208.0,360.0,1.0,0,Yes
3,LP001035,1.0,1,2.0,1,0.0,2340,2546,100.0,360.0,1.0,0,No
4,LP001051,1.0,0,0.0,0,0.0,3276,0,78.0,360.0,1.0,0,Yes