In [142]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [253]:
df=pd.read_csv("Loan_Status_train.csv")

In [144]:
df.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [145]:
df.replace({"Gender":{"Male":1,"Female":0},"Married":{"Yes":1,"No":0},"Education":{"Graduate":1,"Not Graduate":0
                            },"Self_Employed":{"Yes":1,"No":0},"Property_Area":{"Urban":0,"Rural":1,"Semiurban":2},
                              "Loan_Status":{"Y":1,"N":0}},inplace=True)

In [146]:
df.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,1.0,0.0,0,1,0.0,5849,0.0,NaN,360.0,1.0,0,1
1,LP001003,1.0,1.0,1,1,0.0,4583,1508.0,128.0,360.0,1.0,1,0
2,LP001005,1.0,1.0,0,1,1.0,3000,0.0,66.0,360.0,1.0,0,1
3,LP001006,1.0,1.0,0,0,0.0,2583,2358.0,120.0,360.0,1.0,0,1
4,LP001008,1.0,0.0,0,1,0.0,6000,0.0,141.0,360.0,1.0,0,1

In [147]:
df.isnull().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [155]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            614 non-null    object
 1   Gender             601 non-null    float64
 2   Married            611 non-null    float64
 3   Dependents         599 non-null    float64
 4   Education          614 non-null    int64
 5   Self_Employed      582 non-null    float64
 6   ApplicantIncome    614 non-null    int64
 7   CoapplicantIncome  614 non-null    float64
 8   LoanAmount         614 non-null    float64
 9   Loan_Amount_Term   614 non-null    float64
 10  Credit_History     564 non-null    float64
 11  Property_Area      614 non-null    int64
 12  Loan_Status        614 non-null    int64
dtypes: float64(8), int64(4), object(1)
memory usage: 62.5+ KB

In [150]:
df.replace({"Dependents":{"0":0,"1":1,"2":2,"3+":4}},inplace=True)

In [153]:
df["LoanAmount"].fillna(df["LoanAmount"].mean(),inplace=True)

In [154]:
df["Loan_Amount_Term"].fillna(df["Loan_Amount_Term"].mean(),inplace=True)

In [105]:
df["Credit_History"].value_counts()

1.0    475
0.0     89
Name: Credit_History, dtype: int64

In [166]:
df["Self_Employed"].fillna(df["Self_Employed"].mode()[0],inplace=True)

In [167]:
df["Credit_History"].fillna(df["Credit_History"].mode()[0],inplace=True)

In [169]:
df.isnull().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed         0
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            0
Loan_Amount_Term      0
Credit_History        0
Property_Area         0
Loan_Status           0
dtype: int64

In [170]:
df.dropna(inplace=True)

In [171]:
df.isnull().sum()

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64

In [217]:
df2=pd.read_csv("C:\\Users\\DELL\\Desktop\\Loan_Status_test.csv")

In [218]:
df2.replace({"Gender":{"Male":1,"Female":0},"Married":{"Yes":1,"No":0},"Education":{"Graduate":1,"Not Graduate":0
                            },"Self_Employed":{"Yes":1,"No":0},"Property_Area":{"Urban":0,"Rural":1,"Semiurban":2}
                              },inplace=True)

In [222]:
df2.replace({"Dependents":{"0":0,"1":1,"2":2,"3+":4}},inplace=True)

In [228]:
df2["LoanAmount"].fillna(df2["LoanAmount"].mean(),inplace=True)

In [229]:
df2["Loan_Amount_Term"].fillna(df2["Loan_Amount_Term"].mean(),inplace=True)

In [230]:
df2["Self_Employed"].fillna(df2["Self_Employed"].mode()[0],inplace=True)

In [231]:
df2["Credit_History"].fillna(df2["Credit_History"].mode()[0],inplace=True)

In [232]:
df2.dropna(inplace=True)

In [241]:
from sklearn.ensemble import RandomForestClassifier  
classifier=RandomForestClassifier(n_estimators=3)

In [242]:
X_train=df.drop(columns=["Loan_ID","Loan_Status"],axis=1)

In [243]:
y_train=df["Loan_Status"]

In [244]:
classifier.fit(X_train,y_train)

RandomForestClassifier(n_estimators=3)

In [245]:
y_trainpreds=classifier.predict(X_train)

In [254]:
from sklearn.metrics import accuracy_score,precision_score,recall_score,f1_score

In [247]:
accuracy=accuracy_score(y_trainpreds,y_train)

In [255]:
precision=precision_score(y_trainpreds,y_train)

In [256]:
recall=recall_score(y_trainpreds,y_train)

In [257]:
f1score=f1_score(y_trainpreds,y_train)

In [261]:
print("accuracy:",accuracy,"precision:",precision,"recall:",recall,"f1score:",f1score)

accuracy 0.9436860068259386 precision: 0.9654320987654321 recall: 0.9536585365853658 f1score: 0.9595092024539877

In [249]:
X_test=df2.drop(columns=["Loan_ID"],axis=1)

In [250]:
predicted_output=classifier.predict(X_test)

In [251]:
df2["Predicted_output"]=predicted_output

In [252]:
df2

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Predicted_output
0,LP001015,1.0,1,0.0,1,0.0,5720,0,110.0,360.0,1.0,0,1
1,LP001022,1.0,1,1.0,1,0.0,3076,1500,126.0,360.0,1.0,0,1
2,LP001031,1.0,1,2.0,1,0.0,5000,1800,208.0,360.0,1.0,0,1
3,LP001035,1.0,1,2.0,1,0.0,2340,2546,100.0,360.0,1.0,0,1
4,LP001051,1.0,0,0.0,0,0.0,3276,0,78.0,360.0,1.0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
362,LP002971,1.0,1,4.0,0,1.0,4009,1777,113.0,360.0,1.0,0,1
363,LP002975,1.0,1,0.0,1,0.0,4158,709,115.0,360.0,1.0,0,1
364,LP002980,1.0,0,0.0,1,0.0,3250,1993,126.0,360.0,1.0,2,1
365,LP002986,1.0,1,0.0,1,0.0,5000,2393,158.0,360.0,1.0,1,1
366,LP002989,1.0,0,0.0,1,1.0,9200,0,98.0,180.0,1.0,1,1